<mat-card *ngIf="content" class="content-card" [class.first-card]="isFirst">
  <mat-card-header>
    <mat-card-title>{{ content.title }}</mat-card-title>
    <mat-card-subtitle>Creator: {{ content.creator }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image *ngIf="content.imgURL; else defaultImage" [src]="content.imgURL" alt="{{ content.title }}" (click)="onClickImage()">
  <ng-template #defaultImage>
    <img mat-card-image src="assets/default-image.webp" alt="Default Image" (click)="onClickImage()">
  </ng-template>
  <mat-card-content>
    <p>{{ content.description }}</p>
    <p *ngIf="content.type">Type: {{ content.type }}</p>
    <ul *ngIf="content.tags">
      <li *ngFor="let tag of content.tags">{{ tag }}</li>
    </ul>
  </mat-card-content>
</mat-card>
