<!-- content-list.component.html -->
<!-- app-modify-content  -->
<app-modify-content (contentAdded)="contentAdded($event)"></app-modify-content>




<div class="content-container">
  <div class="search-container">
    <!-- Search input field -->
    <mat-form-field appearance="fill">
      <mat-label>Search by title</mat-label>
      <input matInput type="text" [(ngModel)]="searchTitle">
    </mat-form-field>
    <!-- Search button -->
    <button mat-raised-button (click)="searchContent()">Search</button>
    <!-- Search result message -->
    <p [style.color]="searchResultColor" class="search-result">{{ searchResult }}</p>
  </div>
    
  

  <div class="test">
    <div class="content-section">
      <h3>Car</h3>
      <div class="content-items">
        <app-content-card *ngFor="let contentItem of contentList | typeFilter:'Car'" [content]="contentItem"></app-content-card>
      </div>
    </div>

    <div class="content-section">
      <h3>Tech</h3>
      <div class="content-items">
        <app-content-card *ngFor="let contentItem of contentList | typeFilter:'Tech'" [content]="contentItem"></app-content-card>
      </div>
    </div>
  </div>

</div>

